# Twilio
TWILIO_ACCOUNT_SID=seu_account_sid_aqui
TWILIO_AUTH_TOKEN=seu_auth_token_aqui
TWILIO_WHATSAPP_NUMBER=+1 415 523 8886

# Notion
NOTION_API_KEY=seu_api_key_notion_aqui
NOTION_DATABASE_ID=9ececefa7126479bbacfb72a175479da

# OpenAI
OPENAI_API_KEY=sua_chave_openai_aqui

# Ambiente
ENVIRONMENT=development
DEBUG=true

# Logging
LOG_LEVEL=INFO
